// Colours
$colour-primary: #135a60;
$colour-background: #fff;
$colour-secondary: #a52c49;
$colour-tertiary: #c9a27c;
$colour-white: #fff;
$colour-hyperlink-blue: #0066ff;
$colour-grey-dark-medium: #333;
$colour-disabled: #888;

$colour-success: #6cea77;
$colour-warning: #dbea6c;
$colour-error: #ea6c6c;

// Fonts
$font-body: "Dosis";
$font-button: "Dosis";

// Font sizes
$ftsz-body: 2rem;

// Header
$header-height: 10rem;

// Background image
$bg-filter-alpha: 0.2;

// All pages
$pages-padding: 2rem;

// UI
$box-shadow-alpha: 0.6;
$card-border-radius: 10px;
$translucent-alpha: 0.95;
$rounded-edge: 10px; // TODO: Replace all border-radius value with this
