// Colours
$colour-primary: #135a60;
$colour-background: #fff;
$colour-secondary: #a52c49;
$colour-tertiary: #c9a27c;
$colour-white: #fff;

// Fonts
$font-body: "Dosis";
$font-button: "Dosis";

// Font sizes
$ftsz-body: 2rem;

// Header
$header-height: 10rem;
