@use "../abstracts/variables" as *;

.home {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, $bg-filter-alpha),
      rgba(0, 0, 0, $bg-filter-alpha)
    ),
    url("../../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: $pages-padding;

  &__nav {
    height: $header-height;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    color: $colour-white;
    padding-bottom: 5rem;
    font-size: 6rem;
  }

  .body {
    height: calc(100% - $header-height);
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
  }
}
