@use "../abstracts/variables" as *;

.search {
  &-page {
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(
        rgba(0, 0, 0, $bg-filter-alpha),
        rgba(0, 0, 0, $bg-filter-alpha)
      ),
      url("../../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: $pages-padding;
  }

  &-container {
    margin-top: 2rem;
    padding: 0 $pages-padding;
    display: flex;
    gap: 4rem;
  }

  &-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 0 $pages-padding;
    width: calc(100% - 2 * $pages-padding);
    background-color: rgba(220, 220, 220, $translucent-alpha);
    border-radius: $rounded-edge;

    &__query {
      font-weight: bold;
      color: $colour-white;
    }
  }

  &-filter {
    flex-grow: 1;
    background-color: $colour-white;
    border-radius: $rounded-edge;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 100%;
    height: min-content;

    &__dropdown {
      padding: 0.6rem 1.5rem;
      width: 100%;
      font-family: "dosis";
      font-size: inherit;
      font-weight: bold;
      background-color: $colour-white;
      border: 2px solid $colour-grey-dark-medium;
      border-radius: $rounded-edge;
    }
  }
}
