@use "../abstracts/variables" as *;

.home {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, $bg-filter-alpha),
      rgba(0, 0, 0, $bg-filter-alpha)
    ),
    url("../../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: $pages-padding;

  &__header {
    color: $colour-white;
    padding-bottom: 5rem;
    font-size: 6rem;
  }

  &__body {
    height: calc(90vh - $header-height);
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
  }

  &__message {
    font-weight: bold;
    color: $colour-white;
    text-align: center;
    animation: floatUpDown 2s ease-in-out infinite;
  }
}
