@use "../abstracts" as *;

.login {
  display: flex;
  flex-direction: column;

  &__container {
    flex-grow: 1;
    height: calc(100% - $header-height);
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    align-items: center;
    justify-content: space-around;

    @include media($DEVICE_S) {
      height: min-content;
      flex-direction: column;
      gap: 5rem;
      margin: auto 0;
      justify-content: center;
    }
  }

  &__message {
    position: relative;

    &::after {
      content: "";
      height: 5px;
      width: 10rem;
      background-color: $colour-tertiary;
      position: absolute;
      bottom: 0;
      left: 2rem;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    width: 40rem;
    height: auto;
    background-color: $colour-white;
    padding: 3rem;

    @include media($DEVICE_S) {
      width: 100%;
      max-width: 40rem;
    }

    &__header {
      text-align: center;
      position: relative;

      &::after {
        content: "";
        height: 3px;
        width: 4rem;
        background-color: $colour-tertiary;
        position: absolute;
        bottom: 0;
        left: calc((100% - 4rem) / 2);
      }
    }

    &__message {
      text-align: center;
    }

    &__phone,
    &__otp {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    &__submit {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}
