@use "../abstracts" as *;

.search {
  &-container {
    margin-top: 2rem;
    padding: 0 $pages-padding;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4rem;
    flex-grow: 1;
    width: 100%;
    max-width: 200rem;

    @include media($DEVICE_2XL) {
      margin: 0 auto;
      margin-top: 2rem;
    }
    @include media($DEVICE_L) {
      gap: 2rem;
    }
    @include media($DEVICE_M) {
      flex-direction: column;
      align-items: space-around;
      padding: 0;
      gap: 4rem;
    }
    @include media($DEVICE_S) {
      width: min-content;
      margin: 0 auto;
      width: 100%;
    }
  }

  &-results {
    width: 100%;
  }

  &-filter {
    flex-grow: 1;
    background-color: $colour-white;
    border-radius: $rounded-edge;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 100%;
    min-width: 280px;
    max-width: 35rem;
    height: min-content;

    @include media($DEVICE_XL) {
      max-width: 27rem;
    }
    @include media($DEVICE_M) {
      max-width: none;
      margin-top: 2rem;
      min-width: 200px;
    }
    @include media($DEVICE_S) {
      min-width: 100%;
      max-width: none;
    }

    &__dropdown {
      padding: 0.6rem 1.5rem;
      width: 100%;
      font-family: "dosis";
      font-size: inherit;
      font-weight: bold;
      background-color: $colour-white;
      border: 2px solid $colour-grey-dark-medium;
      border-radius: $rounded-edge;
    }
  }

  &__error {
    width: 100%;
    color: $colour-white;
    background-color: rgba(220, 220, 220, $translucent-alpha);
    border-radius: $rounded-edge;
    padding: 2rem;
  }
}
