@use "../abstracts/variables" as *;

.logo {
  font-family: "Dosis";
  font-size: 5rem;
  font-weight: bold;
  padding: 1rem 2rem;

  &__front {
    color: $colour-primary;
  }

  &__back {
    color: $colour-secondary;
  }
}
