@use "../abstracts/variables" as *;

.logo {
  font-family: "Dosis";
  font-size: 5rem;
  font-weight: bold;

  &__front {
    color: $colour-white;
  }

  &__back {
    color: $colour-secondary;
  }
}
