@use "../abstracts/variables" as *;

.dropdown {
  margin-top: 0.6rem;
  padding: 0 2rem;
  width: 100%;
  height: 4rem;
  border: 2px solid $colour-grey-dark-medium;
  border-radius: 10px;
  font-family: "dosis";
  font-size: 1.6rem;
  font-weight: bold;
  background-color: $colour-white;
  color: $colour-grey-dark-medium;

  &:focus {
    outline: none;
    border: 2.2px solid $colour-tertiary;
  }
}
