@use "../abstracts/variables" as *;

.file-upload {
  height: 100%;
  padding: 2rem;
  background-color: rgba($color: $colour-white, $alpha: 0.6);
  border: 6px dashed $colour-grey-dark-medium;
  position: relative;

  &__clear {
    position: absolute;
    top: 2rem;
    right: 2rem;

    width: 4rem;
    height: 4rem;
    background-color: $colour-secondary;
    border-radius: 50%;
    color: $colour-white;
    font-weight: bold;
    font-size: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    cursor: pointer;
  }

  &__contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }

  &__image {
    width: 100%;
    max-width: $file-upload-max-width;
  }

  &:hover {
    cursor: pointer;
  }
  &__icon {
    font-size: 10rem;
  }
}
