@use "../abstracts" as *;

.geocoding {
  &__wrapper {
    width: 100%;
    position: relative;
  }

  &__list {
    width: 100%;
    margin-top: -0.5rem;
    list-style: none;
    position: absolute;
    z-index: 10000;
    border: 2px solid $colour-grey-dark-medium;
    border-top: none;
    margin-top: -1rem;

    &.hidden {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    background-color: $colour-white;
    cursor: pointer;

    &:hover {
      background-color: $colour-grey-light;
    }
  }
}
