@use "../abstracts" as *;

.lnf-item {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  @include media($DEVICE_S) {
    flex-direction: column;
  }

  &__descriptor {
    font-weight: 500;
  }

  &__image {
    min-width: 40rem;
    max-width: 60rem;
    padding: 1rem;
    object-fit: cover;

    @include media($DEVICE_M) {
      min-width: 30rem;
    }
    @include media($DEVICE_S) {
      width: 100%;
      min-width: 100%;
      max-height: 40rem;
      padding: 0;
    }
  }

  &__map {
    width: 100%;
    min-height: 35rem;
  }

  &__details {
    width: 100%;
    flex-grow: 1;
    padding-left: 1rem;

    &-container {
      width: 100%;
    }

    &--header {
      margin-bottom: 0.8rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }
}
