@use "../abstracts/variables" as *;

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 0 $pages-padding;
  margin-bottom: $pages-padding;
  width: calc(100% - 2 * $pages-padding);
  background-color: rgba(220, 220, 220, $translucent-alpha);
  border-radius: $rounded-edge;

  &__message {
    font-weight: bold;
    color: $colour-white;
  }
}
