@use "../abstracts/variables" as *;

.view-item {
  &__container {
    width: 100%;
    padding: $pages-padding;
    border-radius: $rounded-edge;
    background-color: $colour-white;
  }

  &__back {
    display: flex;
    margin-bottom: 2rem;
  }
}
