@use "../../abstracts" as *;

.dashboard {
  display: flex;
  flex-direction: column;

  &-contents {
    padding: 0 $pages-padding;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    @include media($DEVICE_S) {
      padding: 0;
    }
    @include media($DEVICE_XS) {
      flex-direction: column;
    }
  }
}
