@use "../../abstracts" as *;

.dashboard-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
  width: calc(100% - 2 * $pages-padding);
  background-color: rgba(220, 220, 220, $translucent-alpha);
  border-radius: $rounded-edge;

  @include media($DEVICE_XS) {
    width: 100%;
  }

  &__message {
    &--descriptor {
      font-weight: 500;
    }
    text-overflow: clip;
  }

  &__verify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}
